html, body {
    margin:0;
    padding:0;
    height:100%
}

#container {
    margin-top:-58px;
    padding-top:58px;
    height:100%;
    width: 100% !important;
    position: relative
}

#smallContainer {
    height:100%;
    width:100%;
}

#iframeContainer {
    height:100%;
    width:100%;
}

#iframe {
    height:100%;
    width:100%;
}

/* RS */

body{
  font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1 strong,
h2{
    font-size:36px !important;
    font-weight:300 !important;
}

.navbar-header img{
  width:50px !important;
  margin-top:7px !important;
}
.navbar{
  margin-bottom:0px !important;
  background-color:#205081 !important;
  border:none !important;
}
.navbar-brand{
  padding-top:0px !important;
}
iframe{
  border:none !important;
}
.navbar-inverse .navbar-nav li a,
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li .caret{
  color:#ffffff !important;
}
.navbar-inverse .navbar-nav li a{
  border-bottom:3px solid #205081 !important;
}
.navbar-inverse .navbar-nav li a:hover{
    border-bottom:3px solid #FFFFFF !important;
}
.navbar-inverse .navbar-nav li a:focus{
  border:none !important;

}
.navbar-inverse .navbar-nav li.dropdown.open a{
  background-color:transparent !important;
   color:#FFFFFF !important;
}
.navbar-inverse .navbar-nav li.dropdown.open .dropdown-menu{
  margin-top:5px !important;
}
.navbar-inverse .navbar-nav li.dropdown.open .dropdown-menu a{
  color:#333333 !important;
}
.navbar-nav ul.dropdown-menu li a{
  color:#333333 !important;
  border-color:#FFFFFF !important;
}
.navbar-nav.navbar-right li a:hover,
.navbar-nav.navbar-right li a:focus{
    border-bottom:0px solid #FFFFFF !important;
    color:#FFFFFF !important;
}
.navbar-nav.navbar-right .dropdown-menu li a{
  border-bottom:3px solid #FFFFFF !important;
}

.well{
  border:none !important;
  box-shadow:none !important;
  background-color:transparent !important;
}
.panel.panel-primary{
  background-color:#FFFFFF !important;
  padding-left:15px !important;
  padding-right:15px !important;
  padding-top:10px !important;
  box-shadow:none !important;
  margin-top:0px !important;
  padding-bottom:20px !important;
}
.panel.panel-default{
    margin-top:10px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}
.panel-heading{
    margin-bottom:20px !important;
    padding-left:0px !important;
    padding-right:0px !important;
}
.col-md-12{
    padding-top:10px !important;
}
h4.panel-title{
  font-size:36px !important;
  font-weight:300 !important;
  border-bottom:0px !important;
}
.panel-group h4.panel-title{
  font-size:16px !important;
  font-weight:normal !important;
}
.panel-title{
  border-bottom:0px !important;
}
.container{
  width:100% !important;
}

/* SLICE */

.query-and-save-btns-container{
    padding-top:10px;
}