{% set HOST = appbuilder.get_app.config.get("ANACONDA_HOST") %}
{% set PORT = appbuilder.get_app.config.get("ANACONDA_PORT") %}
{% set URI = appbuilder.get_app.config.get("ANACONDA_URI") %}
{% extends "superset/basic.html" %}
{% block head_js %}
  {{ super() }}
  {% with filename="welcome" %}
    {% include "superset/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}

{% block title %}{{ _("Welcome!") }}{% endblock %}

{% block body %}
        <div id="container">
            <div id="smallContainer">
                <div id="iframeContainer">
                    <iframe id="iframe" src="http://{{base_url}}:{{PORT}}/{{URI}}"></iframe>
                </div>
            </div>
        </div>
{% endblock %}

